//- - const days = Array.from(Array(365));

doctype html
html
  head
    title Tracker
    link(rel="stylesheet", href="styles.css")
  body
    h1.font-medium.text-center.mt-20.mb-10(
      class='text-5xl md:text-6xl xl:text-7xl 2xl:text-8xl'
    ) Tracker
    .flex.justify-center
      .p-4.border.border-gray-400.rounded.w-min
        .month-grid.grid.gap-1.-mt-1(class='2xl:gap-2 text-xs md:text-sm xl:text-base')
          .month.col-span-5 Jan
          .month.col-span-4 Feb
          .month.col-span-4 Mar
          .month.col-span-4 Apr
          .month.col-span-5 May
          .month.col-span-4 Jun
          .month.col-span-4 Jul
          .month.col-span-5 Aug
          .month.col-span-4 Sep
          .month.col-span-5 Oct
          .month.col-span-4 Nov
          .month.col-span-4 Dec
        .day-grid.inline-grid.grid-flow-col.gap-1(class='2xl:gap-2')
          each day, index in self.days
            .text-xs.rounded-sm.cursor-default.whitespace-pre(
              class=`h-1.5 w-1.5 sm:h-2 sm:w-2 md:h-2.5 md:w-2.5 lg:h-3 lg:w-3 xl:h-4 xl:w-4 xl:rounded 2xl:h-5 2xl:w-5 ${self.getCellColorClasses(day.amount)}` 
              data-tooltip=`Date: ${day.date}\nTime Practiced: ${day.amount}m` 
              tabindex="0"
            ) &nbsp;

    .mx-auto.w-max.mt-8
      p(class='text-center text-sm md:text-base') Legend
      each item in self.legend
        .flex.items-center(class="gap-x-1.5")
          .h-3.w-3.rounded-sm(class=self.getCellColorClasses(item[0]))
          p(class='text-xs md:text-sm')= item[1]
      
